h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

#films {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
#films li{
    list-style: none;
    
}










img{
    height: 150px;
    width: 150px;
}