h1 {
    font-size: 5rem;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  #films {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
  }
  
  #films li {
    list-style: none;
  }
  
  img {
    height: 150px;
    width: 150px;
    transition: transform 0.3s ease;
  }
  
  .film.item {
    cursor: pointer;
  }
  
  .film.item.active img {
    transform: scale(1.3);
  }

  #movie-details img{
    height: 1000px;
    width: 700px;
  }

  